---
import type { BgType } from '~/types'

const frontmatter = {
  title: 'AstroEco is Releasing...',
  description:
    'Example: Displaying GitHub releases using astro-loader-github-releases',
  subtitle: '',
  bgType: 'plum' as BgType,
  toc: false,
  ogImage: true,
}

import Link from '~/components/base/Link.astro'
import GithubView from '~/components/views/GithubView.astro'
import BaseLayout from '~/layouts/BaseLayout.astro'
import StandardLayout from '~/layouts/StandardLayout.astro'
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  bgType={frontmatter.bgType}
  ogImage={frontmatter.ogImage}
>
  <StandardLayout isCentered={true}>
    <Fragment slot="head">
      <h1 class="ml-12 lt-sm:ml-0">
        AstroEco is <span class="animate-pulse">Releasing...</span>
      </h1>
      <p class="mt--4! op-50 italic">
        Example: Displaying GitHub releases using <Link
          href="https://github.com/lin-stephanie/astro-loaders/tree/main/packages/astro-loader-github-releases"
          external={true}>astro-loader-github-releases</Link
        >
      </p>
    </Fragment>
    <GithubView slot="github" collectionType="releases" />
  </StandardLayout>
</BaseLayout>
