---
import BaseLayout from '@/layouts/BaseLayout.astro'
import StandardLayout from '@/layouts/StandardLayout.astro'
import type { BgType } from '@/types'

interface Props {
  title: string
  description?: string
  bgType?: BgType
  ogImage?: string | boolean
}

const {
  title,
  description = 'Gradiant Ascent - Advanced AI Platform',
  bgType = 'plum',
  ogImage = false
} = Astro.props
---

<BaseLayout
  title={title}
  description={description}
  bgType={bgType}
  ogImage={ogImage}
>
  <StandardLayout title={title}>
    <div class="prose mx-auto">
      <slot />
    </div>
  </StandardLayout>
</BaseLayout>
