---


import type { BgType } from '@/types'

interface Props {
  title: string
  description?: string
  bgType?: BgType
  ogImage?: string | boolean
}

const {
  } = Astro.props
---

<BaseLayout {title} {description} {bgType} {ogImage}>
  <StandardLayout {title}>
    <div class="prose mx-auto">
      <slot />
    </div>
  </StandardLayout>
</BaseLayout>
